/* The footer */
.footer {
    bottom:0;
    background-color: #d1d1d1;
    height: 50px;
    text-align: center;
}

  /* Links inside the footer */
  .footer a {
    float: center;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial;
  }
  
/*.navbar a:hover {  /* when you hover your mouse on the bar*/
    /*background-color: #000000;
/*    color: rgb(255, 255, 255);
/*}
*/

